<footer>
    <div class="footer-top">
        <div class="grid grid-cols-3 gap-[30px] container pt-[75px] pb-[55px]">
            <div>
                <h3 class="footer-title">About Us</h3>
                <div class="footer-content">
                    <img src="../access/imgs/logo_footer.webp" alt="">
                    <div>Proin tincidunt ut purus at finibus. Cras eu aliquam massa. Morbi rutrum nulla vitae diam
                        luctus
                        sagittis. Integer varius elementum arcu a elementum. Vivamus non tellus aliquet.</div>
                </div>
                <h3 class="footer-title">Opening Times</h3>
                <div>

                </div>
            </div>
            <div>
                <h3 class="footer-title">Latest Tweet</h3>
                <div class="footer-latest">
                    <img src="../access/imgs/avatar_1.webp" alt="">
                    <div class="footer-latest-content">
                        <h1>Evelyn Silva</h1>
                        <p>Ut at euismod ipsum, nec varius tortor. Curabitur pulvinar non nibh in.</p>
                        <p class="text-red">@anhgreen @kennyart</p>
                    </div>
                </div>
                <div class="footer-latest">
                    <img src="../access/imgs/avatar_2.webp" alt="">
                    <div class="footer-latest-content">
                        <h1>Evelyn Silva</h1>
                        <p>Ut at euismod ipsum, nec varius tortor. Curabitur pulvinar non nibh in.</p>
                        <p class="text-red">@anhgreen @kennyart</p>
                    </div>
                </div>
                <div class="footer-latest">
                    <img src="../access/imgs/avatar_3.webp" alt="">
                    <div class="footer-latest-content">
                        <h1>Evelyn Silva</h1>
                        <p>Ut at euismod ipsum, nec varius tortor. Curabitur pulvinar non nibh in.</p>
                        <p class="text-red">@anhgreen @kennyart</p>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="footer-title">Instagram</h3>
                <img class="footer-img" src="../access/imgs/foots.webp" alt="">
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p>Michello © 2015 by WooRockets.com</p>
            <div class="ml-auto">
                <img src="../access/icons/icon2.webp" alt="">
                <img src="../access/icons/icon3.webp" alt="">
                <img src="../access/icons/icon4.webp" alt="">
                <img src="../access/icons/icon2.webp" alt="">
            </div>
        </div>

    </div>
</footer>