<header>
    <div class="top-menu">
        <div class="container">
            <p>Language: <span>English</span></p>
            <p>Currency: <span>$ Dollar</span></p>
            <p class="top-menu-right">My Account</p>
            <p>Login/Register</p>
            <img src="../access/icons/icon_cart.webp" alt="">
        </div>

    </div>
    <div class="nav container">
        <ul>
            <li class="active"><a href="#">HOME</a></li>
            <li class="dot"></li>
            <li><a href="#">MENU</a></li>
            <li class="dot"></li>
            <li><a href="#">SERVICES</a></li>
            <li></li>

            <!-- <img src="../access/imgs/logo.webp" alt=""> -->
            <li class="nav-right"><a href="#">BLOG</a></li>
            <li class="dot"></li>
            <li><a href="#">ABOUT US</a></li>
            <li class="dot"></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </div>
    <div class="banner">
        <div class="container">
            <h1>Tab</h1>
            <div class="line">
                <span></span>
                <img src="../access/icons/nav_icon_2.webp" alt="">
                <span></span>
            </div>
            <p>Nullam porttitor mauris nulla. Nulla sagittis scelerisque ex, in iaculis magna aliquam sit amet.
                Nunc sed massa condimentum, dapibus nisi gravida, commodo augue.
                Phasellus ac urna scelerisque, dictum lorem ac, dapibus quam.</p>
        </div>
    </div>
    <img class="logo" src="../access/imgs/logo.webp" alt="">
</header>