<aside class="sidebar">
  <nav >
    <ul>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_1.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_2.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_3.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_1.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_2.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_3.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_1.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_2.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_3.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_1.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_2.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_3.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_1.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_2.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_3.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_1.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_2.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_3.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_1.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_2.webp" alt=""></a></li>
      <li><a href="#">Columns <img src="../access/icons/nav_icon_3.webp" alt=""></a></li>
      
    </ul>
  </nav>
</aside>