<section class="tabs mt-[30px] mb-[60px]">
    <h1>Tab box + Icons</h1>
    <div>
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'tab1')">
                <img src="../access/icons/icon2.webp" alt="">TAB 1</button>
            <button class="tablinks" onclick="openCity(event, 'tab2')"><img src="../access/icons/icon2.webp" alt="">TAB 2</button>
            <button class="tablinks" onclick="openCity(event, 'tab3')"><img src="../access/icons/icon2.webp" alt="">TAB 3</button>
            <button class="tablinks" onclick="openCity(event, 'tab4')"><img src="../access/icons/icon2.webp" alt="">TAB 4</button>
        </div>

        <div id="tab1" class="tabcontent">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus sem vitae dictum auctor.
                Phasellus iaculis, mi vel tempor malesuada, diam leo imperdiet arcu, eu ullamcorper orci nisl non nisl.
                Vestibulum elementum commodo aliquet. Vestibulum ut urna ac tellus adipiscing facilisis. Praesent a
                congue eros. Etiam rutrum sed arcu eget egestas. Nam dapibus a urna vitae adipiscing. Duis non risus
                lacus. Integer vestibulum ipsum fringilla ante aliquet sagittis auctor id sapien. Quisque quis imperdiet
                metu,</p>
            <p>Suspendisse ac magna nec sem lacinia pharetra ac id velit. Sed diam turpis, venenatis et quam eu, aliquet
                viverra quam. Nullam ante nulla, tempus cursus est sed, consequat ultricies ante. Donec non sem est.
                Duis rhoncus interdum dui ac tempor. Cras elementum varius dictum. Morbi eu dui nulla. Aliquam congue
                elit et augue congue feugiat. Pellentesque in dolor pretium, congue arcu sed, egestas tell </p>
        </div>

        <div id="tab2" class="tabcontent">
            <p>tab2</p>
        </div>

        <div id="tab3" class="tabcontent">
            <p>tab3</p>
        </div>
        <div id="tab4" class="tabcontent">
            <p>tab4</p>
        </div>
    </div>
</section>

<section class="tabs mb-[40px]">
    <h1>Tab box + Icons + Color</h1>
    <div>
        <div class="tab">
            <button class="tablinks2 active" onclick="openCity2(event, 'tab2_1')">
                <img src="../access/icons/icon2.webp" alt="">TAB 1</button>
            <button class="tablinks2" onclick="openCity2(event, 'tab2_2')"><img src="../access/icons/icon2.webp" alt="">TAB 2</button>
            <button class="tablinks2" onclick="openCity2(event, 'tab2_3')"><img src="../access/icons/icon2.webp" alt="">TAB 3</button>
            <button class="tablinks2" onclick="openCity2(event, 'tab2_4')"><img src="../access/icons/icon2.webp" alt="">TAB 4</button>
        </div>

        <div id="tab2_1" class="tabcontent2">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus sem vitae dictum auctor.
                Phasellus iaculis, mi vel tempor malesuada, diam leo imperdiet arcu, eu ullamcorper orci nisl non nisl.
                Vestibulum elementum commodo aliquet. Vestibulum ut urna ac tellus adipiscing facilisis. Praesent a
                congue eros. Etiam rutrum sed arcu eget egestas. Nam dapibus a urna vitae adipiscing. Duis non risus
                lacus. Integer vestibulum ipsum fringilla ante aliquet sagittis auctor id sapien. Quisque quis imperdiet
                metu,</p>
            <p>Suspendisse ac magna nec sem lacinia pharetra ac id velit. Sed diam turpis, venenatis et quam eu, aliquet
                viverra quam. Nullam ante nulla, tempus cursus est sed, consequat ultricies ante. Donec non sem est.
                Duis rhoncus interdum dui ac tempor. Cras elementum varius dictum. Morbi eu dui nulla. Aliquam congue
                elit et augue congue feugiat. Pellentesque in dolor pretium, congue arcu sed, egestas tell </p>
        </div>

    </div>
</section>

<section class="tabs mb-[40px]">
    <h1>Tab box + Icons + Color</h1>
    <div>
        <div class="tab">
            <button class="tablinks2 active_2" onclick="openCity2(event, 'tab2_1')">
                <img src="../access/icons/icon2.webp" alt="">TAB 1</button>
            <button class="tablinks2" onclick="openCity2(event, 'tab2_2')"><img src="../access/icons/icon2.webp" alt="">TAB 2</button>
            <button class="tablinks2" onclick="openCity2(event, 'tab2_3')"><img src="../access/icons/icon2.webp" alt="">TAB 3</button>
            <button class="tablinks2" onclick="openCity2(event, 'tab2_4')"><img src="../access/icons/icon2.webp" alt="">TAB 4</button>
        </div>

        <div id="tab2_1" class="tabcontent2">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus sem vitae dictum auctor.
                Phasellus iaculis, mi vel tempor malesuada, diam leo imperdiet arcu, eu ullamcorper orci nisl non nisl.
                Vestibulum elementum commodo aliquet. Vestibulum ut urna ac tellus adipiscing facilisis. Praesent a
                congue eros. Etiam rutrum sed arcu eget egestas. Nam dapibus a urna vitae adipiscing. Duis non risus
                lacus. Integer vestibulum ipsum fringilla ante aliquet sagittis auctor id sapien. Quisque quis imperdiet
                metu,</p>
            <p>Suspendisse ac magna nec sem lacinia pharetra ac id velit. Sed diam turpis, venenatis et quam eu, aliquet
                viverra quam. Nullam ante nulla, tempus cursus est sed, consequat ultricies ante. Donec non sem est.
                Duis rhoncus interdum dui ac tempor. Cras elementum varius dictum. Morbi eu dui nulla. Aliquam congue
                elit et augue congue feugiat. Pellentesque in dolor pretium, congue arcu sed, egestas tell </p>
        </div>

    </div>
</section>

<section class="tabs mb-[40px]">
    <h1>Tab box + Icons + Color + Vertical</h1>

    <div class="tab_style_3 mb-[80px]">
        <div class="tab_sidebar">
                <button class=" active" >
                <img src="../access/icons/icon2.webp" alt="">TAB 1</button>
                
            <button><img src="../access/icons/icon2.webp" alt="">TAB 2</button>
            <button><img src="../access/icons/icon2.webp" alt="">TAB 3</button>
        </div>

        <div class="tab_sidebar_content">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus sem vitae dictum auctor.
                Phasellus iaculis, mi vel tempor malesuada, diam leo imperdiet arcu, eu ullamcorper orci nisl non nisl.
                Vestibulum elementum commodo aliquet. Vestibulum ut urna ac tellus adipiscing facilisis. Praesent a
                congue eros. Etiam rutrum sed arcu eget egestas. Nam dapibus a urna vitae adipiscing. Duis non risus
                lacus. Integer vestibulum ipsum fringilla ante aliquet sagittis auctor id sapien. Quisque quis imperdiet
                metu,</p>
            <p>Suspendisse ac magna nec sem lacinia pharetra ac id velit. Sed diam turpis, venenatis et quam eu, aliquet
                viverra quam. Nullam ante nulla, tempus cursus est sed, consequat ultricies ante. Donec non sem est.
                Duis rhoncus interdum dui ac tempor. Cras elementum varius dictum. Morbi eu dui nulla. Aliquam congue
                elit et augue congue feugiat. Pellentesque in dolor pretium, congue arcu sed, egestas tell </p>
        </div>
    </div>

    <div class="tab_style_2">
        <div class="tab_sidebar">
                <button class=" active_2" >
                <img src="../access/icons/icon2.webp" alt="">TAB 1</button>
                
            <button><img src="../access/icons/icon2.webp" alt="">TAB 2</button>
            <button><img src="../access/icons/icon2.webp" alt="">TAB 3</button>
        </div>

        <div class="tab_sidebar_content_2">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus sem vitae dictum auctor.
                Phasellus iaculis, mi vel tempor malesuada, diam leo imperdiet arcu, eu ullamcorper orci nisl non nisl.
                Vestibulum elementum commodo aliquet. Vestibulum ut urna ac tellus adipiscing facilisis. Praesent a
                congue eros. Etiam rutrum sed arcu eget egestas. Nam dapibus a urna vitae adipiscing. Duis non risus
                lacus. Integer vestibulum ipsum fringilla ante aliquet sagittis auctor id sapien. Quisque quis imperdiet
                metu,</p>
            <p>Suspendisse ac magna nec sem lacinia pharetra ac id velit. Sed diam turpis, venenatis et quam eu, aliquet
                viverra quam. Nullam ante nulla, tempus cursus est sed, consequat ultricies ante. Donec non sem est.
                Duis rhoncus interdum dui ac tempor. Cras elementum varius dictum. Morbi eu dui nulla. Aliquam congue
                elit et augue congue feugiat. Pellentesque in dolor pretium, congue arcu sed, egestas tell </p>
        </div>
    </div>
</section>
