@media (max-width: 1700px) {
    .deal-wine {
        width: 300px;
    }

    /* 
    .deal-wine div {
        right: 50px;
    } */
}

@media (max-width: 1400px) {
    /* .deal-wine {
        display: none;
    } */


    .product-item-bottom>img {
        width: 40px;
        height: 40px;
    }

    .product-icon-card {
        width: 40px;
        height: 40px;
        padding: 12px;
    }

    .wind-content-bottom>img {
        width: 40px;
        height: 40px;
    }

    .deal {
        height: 780px;
    }

}

@media (max-width: 1000px) {
    .footer-container {
        height: 1260px;
    }

    .blog-content {
        margin-bottom: 40px;
    }

    .blog-img {
        margin-bottom: 40px;
    }

    .deal {
        height: 1250px;
    }

    .deal-wine {
        top: 700px;
        left: 50%;
        transform: translateX(-50%);
    }

    .modal-search-form {
        padding: 50px 30px;
    }
}

@media (max-width: 800px) {
    .event {
        height: 1415px;
    }

    .event-price {
        margin-top: 26px;
        text-align: left;
    }

    .event-time h1 {
        font-size: 24px;
    }

    .event-name h1 {
        font-size: 20px;
            margin-top: 18px;
    }

    .event-line {
        margin: 40px auto 60px auto;
    }

    .welcome-info {
        gap: 40px;
    }

    .deal-wine {
        top: 765px;
    }

    .blog-content-right {
        text-align: left;
    }

    .product {
        padding: 100px 0 0 0;
    }

    .footer-header {
        height: 120px;
    }

    .footer-menu {
        flex-wrap: wrap;
    }

    .menu-desktop {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

.sm-hidden {
        display: none !important;
    }

}

@media (max-width: 500px) {
    .top-menu {
        justify-content: center;
    }

    

    .sm-block {
        display: block;
    }

    .popup-card {
        top: 272px;
        right: -110px;
    }


    .menu-modal-footer-li {
        display: block;
    }

    .popup-setting {
        left: -85px;
    }

    .deal {
        height: 1575px;
    }

    .deal-wine {
        top: 1020px;
    }
}